@mixin burgerBtn {
	position: absolute;
	right: 0;
	height: 3px;
	content: '';
	background-color: $pure-white;
	transition: width 0.3s;
}

@mixin heroImages($bgImg) {
	background-image: $blue-gradient, url($bgImg);
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}
@mixin islandCardStyle() {
	position: absolute;
	left: 50%;
	transform: translate(-50%);
}
